.entrypoint-wrapper {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
  }
  
.background {
    position: fixed;
    width: 200vh;
    height: 100vh;
    background: url('/assets/images/vision360.jpg') no-repeat center center/cover;
    transition: transform 0.5s ease-in-out;
}
  
  .centered-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
.button-entryPoint {
    padding: 15px 30px;
    font-size: 20px;
    background-color: #fff !important;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    background-image: linear-gradient(135deg, #ff006e, #8338ec, #3a86ff, #06ffa5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}



  
  .button-entryPoint:hover {
    background-color: #f0f0f0;
    transform: scale(1.1);
  }
  